/Backup
/dmvc-backend/__history
/dmvc-backend/Win32/Debug
/dmvc-backend/Win32/Release/dcu
/dmvc-backend/Win32/Release
/dmvc-backend/dmvc-backend.zip
/dmvc-backend/*.tvsconfig
/react-app
/dmvc-backend/*.identcache
/dmvc-backend/*.local
/dmvc-backend/*.stat
/dmvc-backend/__recovery
